# compiled output
dist
tmp
out-tsc

# Environment Configuration
.env

# Dependency directory
node_modules

# Test coverage directory
coverage
.nyc_output

# Ignore Apple macOS Desktop Services Store
.DS_Store

# Logs
logs
*.log

# ngrok tunnel file
config/tunnel.pid

# next build output
.next/

# ide
.settings
.vscode
.editorconfig

# System Files
.DS_Store
Thumbs.db
*.log
